# Environment variables
.env
.env.*
!.env.example

# Dependencies
node_modules/

# Build
.next/
dist/
build/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Java & Maven
target/
*.class
*.iml
.settings/
.factorypath
HELP.md